<%= form_with(model: @tweet, url: choose_new_or_edit, local: true) do |form| %>
<% if @tweet.errors.any? %>
  <div id="error_explanation">
    <h2><%= @tweet.errors.count %>件のエラーがあります。</h2>
    <ul>

    <% @tweet.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<p>
  <div align="center">
  <p>
    <strong>Image:</strong>
    <p><%= image_tag(@tweet.image.url) if @tweet.image.url %></p>
    <%= form.file_field :image, id: :feed_image %>
  </p>
  </div>
<p>
<div class="twtr_title">
  <%= form.label :入力欄 %>
  <%= form.text_field :content %>
</div>
  <button type="submit" class="btn btn-primary">新規作成</button>
<% end %>
<%= link_to '一覧画面にもどる', twtrs_path %>
